* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(33, 34, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
    width: 100vw;
}

.nav-bar {
    display: flex;
    height: 7vh;
    margin-top: 3vh;
    gap: 4%;
    margin-left: 55%;
}

.nav-button {
    height: 70%;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 400ms;
    text-decoration: none;
}


.top {
    display: flex;
    margin-top: 6vh;
    justify-content: center;
    align-items: center;
}

.top-text-bar {
    display: flex;
    width: 40%;
    height: 40%;
    align-items: flex-start;
    flex-direction: column;
}

.title {
    color: white;
    margin-right: 10%;
    font-size: 6vw;
    animation: scaleIn 1s ease-out forwards;
    opacity: 0;
}

.character-image {
    width: 40vw;
    height: auto;
}


.line {
    width: 100vw;
    height: auto;
}



.about-description {
    display: flex;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: rgb(21, 22, 22);
    padding: 1.3%;
}

.about-section {
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    gap: 10%;
}

.about-card {
    width: 50vw;
    height: auto;
    transition: 0.6s;
    opacity: 0;
    margin-top: 5vh;
}

.about-card-opened {
    transition: 0.6s;
    opacity: 1;
    margin-right: 0vw;
}

.about-img {
    width: 100%;
    height: auto;
}


.skill-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    background-color: rgb(21, 22, 22);
    padding: 2vw;
}

.skill-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 700;
}

.skill {
    display: flex;
    width: 20%;
    height: 20vh;
    background-color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skill-bar-opened {
    transition: 0.4;
}

.skill-bar-outside {
    height: 5vh;
    width: 80%;
    margin-top: 3%;
    padding: 1%;
}

.skill-bar {
    display: flex;
    height: 100%;
    background: #64ff0a;
    background: linear-gradient(90deg, rgba(100, 255, 10, 1) 0%, rgba(115, 191, 108, 1) 100%, rgba(38, 150, 56, 1) 51%, rgba(0, 140, 7, 1) 100%);
    align-items: center;
    justify-content: center;
    width: 0%;
}

.skill-bar-text {
    background: none;
}


form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 4vh;
    margin-bottom: 5vh;
    border-radius: 2vh;
}

label {
    background-color: black;
    color: white;
    font-weight: 700;
    margin-top: 4vh;
    margin-bottom: 1vh;
}

input {
    margin-bottom: 5vh;
    height: 4vh;
    border: none;
    width: 30vw;
    padding-left: 0.4vw;
    color: white;
    font-weight: 700;
    transition: 400ms;
}


.section-title {
    display: flex;
    width: 100vw;
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 3vh;
}

.projects-div {
    display: flex;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    margin-top: 4%;
    background-color: rgb(21, 22, 22);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
    gap: 5%;
}

.project {
    display: flex;
    height: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.project-image {
    width: 52%;
    height: auto;
    padding-top: 5vh;
    margin: 0 auto;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
}

.project-button {
    margin-top: 5%;
    text-decoration: none;
    margin-bottom: 2%;
}

.project-text {
    display: flex;
    color: white;
    padding-top: 3vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    margin: 0 auto;
    width: 70%;
    overflow-wrap: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word; 
}


.footer {
    display: flex;
    width: 100vw;
    height: 10vh;
}


.nav-button:hover {
    color: gray;
    transition: 400ms;
    transform: scale(1.1);
}

input:hover {
    color: gray;
    transition: 400ms; 
    
}

.glide__slides {
    width: 100vw;
}


@keyframes scaleIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}


